
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin:0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
   margin:0;
   padding:0;
}


.main-container{

height:100vh;
width:100vw;   
background-color:black;
display: flex;

}

/* ------------------------- globe container -------------------------- */
.map-container{

   height:100%;
   width: 60%;
   color:white;
   font-size: larger;
   text-align: center;
   background-color: black;
}

/* ------- hover info container ----- */
.country-info-container{

   font-family: 'Space Mono', monospace;
   transition: 1s;
   background-color: black;
   width: 190px;
   border: 2px solid red;
   border-radius: 10px;
   z-index: 2;
  
}


.flag{
  
   object-fit: contain;
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.covid-cases-container{

   padding-top: 1px;
   padding-bottom: 8px;
   padding-left: 12px;
   padding-right: 12px;
   text-align: left;
   transition: 0.5s;
   
   
}

.card-title{

   font-weight: bold;
   text-align: center;
}

.card-spacer{
   height: 1px;
}

.cases-info{
   font-size: large;
   margin-bottom: 4px;
   text-align: justify;
}



/* ------------------------- information container----------------------- */

.info-container{

   height: 100%;
   width: 40%;
   display: flex;
   flex-direction: column;

}

.covid-img{

  height: 30vh;
  width: 40vw;

}


           /* ---------------- menu container ----------------- */


.menu-container{

   height: 15%;
   width: 100%;
   background-color: rgb(59, 53, 53);
   display: flex;
   flex-direction: row;
   /* justify-content: space-evenly; */
   align-items: center;

}


   /* -- globe icon ---- */

.globe-icon-container
{
   width:12%;
   height:60%;
   margin-left: 5%;
   
}

.icon-container
{
   width:12%;
   height:60%;
   margin-left: 10%;
}

.icon{

   width:100%;
   height:100%;
  
}



       /* ------------------- image-container --------------- */


.image-container{

   height: 30%;
   width: 100%;
   background-color: cadetblue;

}



       /* --------------------- information display container ----------- */


.display-info-container{

   height: 55%;
   width: 100%;
   background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(145deg, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(145deg, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
}


.info-title{

    height: 15%;
    width:100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(226, 250, 250);
}

.row{

  height:35%;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.card{

  height:100%;
  width:40%;
  background-color: rgb(248, 239, 245);
  position: relative;

}

.img{
  
  height:50px;
  width:60px;
  margin: auto;
  margin-left:30%;
}

.confirmed-card{
  border-top: inset 10px orange;
}

.death-card{
  border-top: inset 10px red;
}

.recovered-card{
  
    border-top: inset 10px rgb(154, 197, 90);
 
}

.case-title{
  text-align: center;
  font-size: large;
  margin-left: 20%;
  font-weight: 500;
  font-style: oblique;
}

.confirmed-cases{
  color: orange
}

.death-cases{
  color: red;
}

.recovered-cases{
  color: green;
}

.info{
  text-align: center;
  font-size: larger;
  font-weight: 900;
}