
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin:0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
   margin:0;
   padding:0;
}


.main-container{

height:100vh;
width:100vw;   
background-color:black;
display: flex;

}

/* ------------------------- globe container -------------------------- */
.map-container{

   height:100%;
   width: 60%;
   color:white;
   font-size: larger;
   text-align: center;
   background-color: black;
}

/* ------- hover info container ----- */
.country-info-container{

   font-family: 'Space Mono', monospace;
   transition: 1s;
   background-color: black;
   width: 190px;
   border: 2px solid red;
   border-radius: 10px;
   z-index: 2;
  
}


.flag{
  
   object-fit: contain;
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.covid-cases-container{

   padding-top: 1px;
   padding-bottom: 8px;
   padding-left: 12px;
   padding-right: 12px;
   text-align: left;
   transition: 0.5s;
   
   
}

.card-title{

   font-weight: bold;
   text-align: center;
}

.card-spacer{
   height: 1px;
}

.cases-info{
   font-size: large;
   margin-bottom: 4px;
   text-align: justify;
}

.label-box{
   position: absolute;
    width: 10vw;
    height: 15vh;
    bottom: 3vh;
    left: 3vw;
    border-style: inset;
    border-width: 4px;
    border-radius: 5%;
    border-color: red;
}

.color-box{
  width:1.5rem;
  height:1.3rem;
  border-radius: 5%;
}

.label-cont{
  display: flex;
  margin-bottom: 2px;
  padding-left: 1rem;
}
.label-text{
  padding-left: 1rem;
}


/* ------------------------- information container----------------------- */

.info-container{

   height: 100%;
   width: 40%;
   display: flex;
   flex-direction: column;

}

.covid-img{

  height: 30vh;
  width: 40vw;

}


           /* ---------------- menu container ----------------- */


.menu-container{

   height: 15%;
   width: 100%;
   background-color: #333333;
   display: flex;
   flex-direction: row;
   /* justify-content: space-evenly; */
   align-items: center;

}


   /* -- globe icon ---- */

.globe-icon-container
{
   width:12%;
   height:60%;
   margin-left: 5%;
   
}

.icon-container
{
   width:12%;
   height:60%;
   margin-left: 10%;
}

.active{
  border-radius: 50%;
  width: 14%;
  height:70%;
  background-color: rgb(40, 49, 58);
  box-shadow: 0 8px 15px rgba(255, 251, 251, 0.3);

}

.icon{

   width:100%;
   height:100%;
  
}





       /* ------------------- image-container --------------- */


.image-container{

   height: 30%;
   width: 100%;
   background-color: cadetblue;

}



       /* --------------------- information display container ----------- */


.display-info-container{

   height: 55%;
   width: 100%;
   background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(145deg, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(145deg, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
}


.info-title{

    height: 15%;
    width:100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(226, 250, 250);
}

.row{

  height:40%;
  width:100%;
  display: flex;
  justify-content: space-evenly;
 
  padding: 5px;
}

.card{

  height:95%;
  width:40%;
  background-color: rgb(248, 239, 245);
  position: relative;
  box-shadow: 0 5px 15px rgba(24, 24, 24, 0.3);

}

.img{
  
  height:50px;
  width:60px;
  margin: auto;
  margin-left:30%;
}

.confirmed-card{
  border-top: inset 10px orange;
}

.death-card{
  border-top: inset 10px red;
}

.recovered-card{
  
    border-top: inset 10px rgb(154, 197, 90);
 
}

.case-title{
  text-align: center;
  font-size: large;
  margin-left: 20%;
  font-weight: 500;
  font-style: oblique;
}

.confirmed-cases{
  color: orange
}

.death-cases{
  color: red;
}

.recovered-cases{
  color: green;
}

.info{
  text-align: center;
  font-size: larger;
  font-weight: 900;
}

.weather-display-info-container{

   height: 85%;
   width: 100%;
   background: url("https://i.graphicmama.com/blog/wp-content/uploads/2016/12/02102626/cartoon-landscape-vector.png");
   background-repeat: no-repeat;
   background-size: 40vw 85vh ;
}

/* weather css */

.location-input-container
{
    height: 10%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    
    
}

.current-location-container{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

.container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type=text]{
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 20px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
    
  }
  input[type=text]:focus{
    width: 300px;
  }
  
  .fa-search{
    position: relative;
    left: -39px;
    color: #e743ec;
  }
  
  .fa-map-marker-alt{

    margin-left: 2rem;
    color: #e743ec;
    font-size: 2rem;

  }

  .tooltiptext {
    font-size: small;
    visibility: hidden;
    width: 120px;
    background-color: rgb(161, 86, 145);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: 37px;
    margin-left: -20px;
  }

  .fa-map-marker-alt:hover,input[type=text]:hover{
      cursor: pointer;
  }

  
  .fa-map-marker-alt:hover .tooltiptext {
    
    visibility: visible;
  }


  /* display info  */

.display-data-container
{
    width:100%;
    height:40%;
    margin-top: 10px;
    display: flex;
}

.current-info-container
{
    font-family: "Baloo 2", cursive;
    height:100%;
    width:50%;
    padding-left:2rem;
    padding-top: 2rem;

}

.current-temp-container{

    height:100%;
    width:50%;
    /* background-color: beige; */
}

.day{
    
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.date{
    margin-bottom: 8px;
    font-size: 1.3rem;
}

.city-name{
    margin-bottom: 8px;
    font-size: 2rem;
}


.temp-container{

    height:120px;
    width:120px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin-top: 60px;
    margin-left: 20px;
    z-index:1
}

.temp-img{

    height:120px;
    width:120px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin-top: -170px;
    margin-left: 80px;
}

.fa-cloud-sun-rain{

    position: relative;
    margin-top: 10px;
    margin-left: 25px;
    font-size:5rem;
    color: rgb(185, 224, 224);
}


.temperature{

    position: absolute;
    font-family: "Baloo 2", cursive;
    margin-top: 1.3rem;
    margin-left: 1.5rem;
    font-size: 3.5rem;
    color:rgb(71, 128, 182)

}

/* ---------weather type -------- */

.weather-type-container
{
    font-family: "Baloo 2", cursive;
    height: 20%;
    width:100%;
    text-align: center;
    
}

.weather-type{

    margin-bottom: 20px;
    font-size: 1.5rem;
}

.weather-status{
    font-size: 2rem;
   
}